/* -*- Mode: CSS -*- */

body {
    font: 14px Helvetica,Arial,sans-serif;
    color: #000;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}

div { /* Draw a border with rounded corners to hold the content. */
    background: #fff;
    border: 1px solid #B4B4B4;
    line-height: 18px;
    padding: 5px 0px; /* top/bottom right/left */
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.4);
}

p { /* Define properties of all <p> elements */
    margin: 10px 10px;
}

a { /* Define properties of embedded links. */
    color: #2E3744;
    font-weight: bold;
    text-decoration: none;
}


h1 { /* Define properties of titles. */
    color: rgb(76,86,108);
    font-size: 17px;
    font-weight: bold;
    text-shadow: #fff 0 1px 0;
    margin: 20px 10px 5px;  /* top right/left bottom */
}
