/* -*- Mode: CSS -*- */

h1 {
    color: rgb(76,86,108);
    font: bold 18px Helvetica;
    text-shadow: #fff 0 1px 0;
    margin: 15px 0 0 10px;  
}

ul + p, ul.data + p + p, ul.form + p + p {
    color: rgb(76,86,108);
    font: 14px Helvetica;
    text-align: center;
    text-shadow: white 0 1px 0;
    margin: 0 10px 17px 0;
}

ul {
    color: black;
    background: #fff;
    border: 1px solid #B4B4B4;
    font: bold 17px Helvetica;
    padding: 0;	   
    margin: 15px 10px 17px 0;
    -webkit-border-radius: 8px;
}

ul li {
    color: #666;
    border-top: 1px solid #B4B4B4;
    list-style-type: none;	
    padding: 10px 10px 10px 10px;
}

li:first-child {	
    border-top: 0;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

li:last-child {	
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}


ul li.arrow {
    background-image: url(../images/chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
}

ul li a, li.img a + a {
    color: #000;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 12px 10px 12px 10px;
    margin: -10px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

ul li.img a + a {
    margin: -10px 10px -20px -5px;
    font-size: 17px;
    font-weight: bold;
}

ul li.img a + a + a {
    font-size: 14px;
    font-weight: normal;
    margin-left: -10px;
    margin-bottom: -10px;
    margin-top: 0;
}

ul li.img a + small + a {
    margin-left: -5px;
}

ul li.img a + small + a + a {
    margin-left: -10px;
    margin-top: -20px;
    margin-bottom: -10px;
    font-size: 14px;
    font-weight: normal;
}

ul li.img a + small + a + a + a {
    margin-left: 0px !important;
    margin-bottom: 0;
}

ul li a + a {
    color: #000;
    font: 14px Helvetica;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

ul li a + a + a, ul li.img a + a + a + a, ul li.img a + small + a + a + a {
    color: #666;
    font: 13px Helvetica;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 0;
}

ul li small {
    color: #369;
    font: 17px Helvetica;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 23%;
    float: right;
    padding: 3px 0px;
}

ul li.arrow small {
    padding: 0 15px;
}

ul li small.counter {
    font-size: 17px !important;
    line-height: 13px !important;
    font-weight: bold;
    background: rgb(154,159,170);
    color: #fff;
    -webkit-border-radius: 11px;
    padding: 4px 10px 5px 10px;
    display: inline !important;
    width: auto;
    margin-top: 2px;
}


ul li.arrow small.counter {
    margin-right: 15px;
}

ul li.arrow a {
    width: 95%;
}

ul li small + a {
    width: 75%;
}

ul li.arrow small + a {
    width: 70%;
}

ul li.img {
    padding-left: 115px;
}

ul li.img a.img {
    background: url(../images/standard-img.png) no-repeat;
    display: inline-block;
    width: 100px;
    height: 75px;
    margin: -10px 0 -20px -115px;
    float: left;
}

ul.data li h4 {
    margin: 10px 0 5px 0;
}

ul.data li p {
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    margin: 0;
}

ul.data li p + p { margin-top: 10px; }

ul.data li {
    background: none;
    padding: 15px 10px;
    color: #222;
}

ul.data li a {
    display: inline;
    color: #2E3744;
    font: bold 14px Helvetica;
    /* text-decoration: underline; */
}
