<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>BIT_STREAM_FRAME_DETECTOR_FOOTER</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>10101011</string>
			<key>Key</key>
			<string>BIT_STREAM_FRAME_DETECTOR_PREFIX</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>BIT_STREAM_FRAME_DETECTOR_PREFIX</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>101010101</string>
			<key>Key</key>
			<string>BIT_STREAM_FRAME_DETECTOR_SUFFIX</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>BIT_STREAM_FRAME_DETECTOR_SUFFIX</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<integer>30</integer>
			<key>Key</key>
			<string>BIT_STREAM_FRAME_DETECTOR_CONTENT_SIZE</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>BIT_STREAM_FRAME_DETECTOR_CONTENT_SIZE</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>Settings</string>
</dict>
</plist>
