<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>LEVEL_DETECTOR_FOOTER</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutoCorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>0.33329999999999999</real>
			<key>Key</key>
			<string>LEVEL_DETECTOR_LEVEL</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR_LEVEL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutoCorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>30.3030303</real>
			<key>Key</key>
			<string>LEVEL_DETECTOR_SCALING</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR_SCALING</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>LEVEL_DETECTOR_USE_LOW_PASS_FILTER</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR_USE_LOW_PASS_FILTER</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>taps</string>
			<key>Key</key>
			<string>LEVEL_DETECTOR_LOW_PASS_FILTER_FILENAME</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR_LOW_PASS_FILTER_FILENAME</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>4</real>
			<key>Key</key>
			<string>LEVEL_DETECTOR_COUNTS_DECAY_DURATION</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR_COUNTS_DECAY_DURATION</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>Settings</string>
</dict>
</plist>
