<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>COPYRIGHT</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>VERSION</string>
			<key>Key</key>
			<string>version</string>
			<key>DefaultValue</key>
			<string>1.2 (11)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>ABOUT</string>
			<key>File</key>
			<string>about.html</string>
			<key>IASKViewControllerClass</key>
			<string>IASKAppSettingsWebViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:key:</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>COPYRIGHTS</string>
			<key>File</key>
			<string>copyrights.html</string>
			<key>IASKViewControllerClass</key>
			<string>IASKAppSettingsWebViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:key:</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>INPUT_DISPLAY</string>
			<key>FooterText</key>
			<string>INPUT_DISPLAY_FOOTER</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>INPUT_DISPLAY_UPDATE_RATE</string>
			<key>Key</key>
			<string>INPUT_DISPLAY_UPDATE_RATE</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>20</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR</string>
			<key>FooterText</key>
			<string>LEVEL_DETECTOR_FOOTER</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR_LEVEL</string>
			<key>Key</key>
			<string>LEVEL_DETECTOR_LEVEL</string>
			<key>AutoCorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>0.3333</real>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR_UPDATE_RATE</string>
			<key>Key</key>
			<string>LEVEL_DETECTOR_UPDATE_RATE</string>
			<key>AutoCorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<integer>33</integer>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR_USE_LOW_PASS_FILTER</string>
			<key>Key</key>
			<string>LEVEL_DETECTOR_USE_LOW_PASS_FILTER</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR_LOW_PASS_FILTER_FILENAME</string>
			<key>Key</key>
			<string>LEVEL_DETECTOR_LOW_PASS_FILTER_FILENAME</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>taps</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR_COUNTS_DECAY_DURATION</string>
			<key>Key</key>
			<string>LEVEL_DETECTOR_COUNTS_DECAY_DURATION</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<integer>4</integer>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>BIT_DETECTOR</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>BIT_DETECTOR_FOOTER</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>BIT_DETECTOR_MAX_LOW_LEVEL</string>
			<key>Key</key>
			<string>BIT_DETECTOR_MAX_LOW_LEVEL</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>0.3333</real>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>BIT_DETECTOR_MIN_HIGH_LEVEL</string>
			<key>Key</key>
			<string>BIT_DETECTOR_MIN_HIGH_LEVEL</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>0.6666</real>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>BIT_DETECTOR_SAMPLES_PER_PULSE</string>
			<key>Key</key>
			<string>BIT_DETECTOR_SAMPLES_PER_PULSE</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>37</real>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>BIT_STREAM_FRAME_DETECTOR</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>BIT_STREAM_FRAME_DETECTOR_FOOTER</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>BIT_STREAM_FRAME_DETECTOR_PREFIX</string>
			<key>Key</key>
			<string>BIT_STREAM_FRAME_DETECTOR_PREFIX</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>0010101011</real>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>BIT_STREAM_FRAME_DETECTOR_SUFFIX</string>
			<key>Key</key>
			<string>BIT_STREAM_FRAME_DETECTOR_SUFFIX</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>0101010101</real>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>BIT_STREAM_FRAME_DETECTOR_CONTENT_SIZE</string>
			<key>Key</key>
			<string>BIT_STREAM_FRAME_DETECTOR_CONTENT_SIZE</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>30</real>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>MIC_SWITCH_DETECTOR</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>MIC_SWITCH_DETECTOR_FOOTER</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>MIC_SWITCH_DETECTOR_THRESHOLD</string>
			<key>Key</key>
			<string>MIC_SWITCH_DETECTOR_THRESHOLD</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>0.001</real>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>MIC_SWITCH_DETECTOR_DURATION</string>
			<key>Key</key>
			<string>MIC_SWITCH_DETECTOR_DURATION</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>CLOUD_STORAGE</string>
			<key>FooterText</key>
			<string>CLOUD_STORAGE_FOOTER</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Title</key>
			<string>Dropbox</string>
			<key>Key</key>
			<string>DropBox</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>CLOUD_STORAGE_ENABLE</string>
			<key>Key</key>
			<string>CLOUD_STORAGE_ENABLE</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>Settings</string>
</dict>
</plist>
