<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>COPYRIGHT</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.4 (15)</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>VERSION</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>RECORDINGS_FOOTER</string>
			<key>Title</key>
			<string>RECORDINGS</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>caf</string>
			<key>Key</key>
			<string>RECORDINGS_FILE_FORMAT</string>
			<key>Title</key>
			<string>RECORDINGS_FILE_FORMAT</string>
			<key>Titles</key>
			<array>
				<string>Apple CoreAudio</string>
				<string>Microsoft WAV</string>
				<string>AIFF</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>caf</string>
				<string>wav</string>
				<string>aiff</string>
			</array>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>CLOUD_STORAGE_FOOTER</string>
			<key>Title</key>
			<string>CLOUD_STORAGE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>DropBox</string>
			<key>Title</key>
			<string>Dropbox</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>CLOUD_STORAGE_ENABLE</string>
			<key>Title</key>
			<string>CLOUD_STORAGE_ENABLE</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>VIEWS</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>InputView</string>
			<key>Title</key>
			<string>INPUT_VIEW</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>DetectionsView</string>
			<key>Title</key>
			<string>DETECTIONS_VIEW</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>DETECTORS</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>LevelDetector</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>PulseFrequencyDetector</string>
			<key>Title</key>
			<string>PULSE_FREQUENCY_DETECTOR</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>BitDetector</string>
			<key>Title</key>
			<string>BIT_DETECTOR</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>BitStreamFrameDetector</string>
			<key>Title</key>
			<string>BIT_STREAM_FRAME_DETECTOR</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MicSwitchDetector</string>
			<key>Title</key>
			<string>MIC_SWITCH_DETECTOR</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>Settings</string>
</dict>
</plist>
