<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>INPUT_VIEW_FOOTER</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>20</real>
			<key>Key</key>
			<string>INPUT_VIEW_UPDATE_RATE</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>INPUT_VIEW_UPDATE_RATE</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>INPUT_VIEW_SCALE_FOOTER</string>
			<key>Title</key>
			<string>INPUT_VIEW_SCALE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>MaximumValue</key>
			<real>1.0</real>
			<key>MinimumValue</key>
			<real>0.0001</real>
			<key>DefaultValue</key>
			<real>1.0</real>
			<key>Key</key>
			<string>INPUT_VIEW_SCALE</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>MinimumValueImage</key>
			<string>ZoomMin.png</string>
			<key>MaximumValueImage</key>
			<string>ZoomMax.png</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>Settings</string>
</dict>
</plist>
