<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>PULSE_WIDTH_DETECTOR_FOOTER</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutoCorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>-0.1</real>
			<key>Key</key>
			<string>PULSE_WIDTH_DETECTOR_LOW_LEVEL</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>PULSE_WIDTH_DETECTOR_LOW_LEVEL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutoCorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>0.0</real>
			<key>Key</key>
			<string>PULSE_WIDTH_DETECTOR_HIGH_LEVEL</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>PULSE_WIDTH_DETECTOR_HIGH_LEVEL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutoCorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>0.7</real>
			<key>Key</key>
			<string>PULSE_WIDTH_DETECTOR_MIN_HIGH_AMPLITUDE</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>PULSE_WIDTH_DETECTOR_MIN_HIGH_AMPLITUDE</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutoCorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<integer>22050</integer>
			<key>Key</key>
			<string>PULSE_WIDTH_DETECTOR_MAX_PULSE_2_PULSE_WIDTH</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>PULSE_WIDTH_DETECTOR_MAX_PULSE_2_PULSE_WIDTH</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutoCorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>1.0</real>
			<key>Key</key>
			<string>PULSE_WIDTH_DETECTOR_SCALING</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>PULSE_WIDTH_DETECTOR_SCALING</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<integer>5</integer>
			<key>Key</key>
			<string>PULSE_WIDTH_DETECTOR_SMOOTHING</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>PULSE_WIDTH_DETECTOR_SMOOTHING</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>Settings</string>
</dict>
</plist>
