<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>COPYRIGHT</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.3 (14)</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>VERSION</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>RECORDINGS_FOOTER</string>
			<key>Title</key>
			<string>RECORDINGS</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>caf</string>
			<key>Key</key>
			<string>RECORDINGS_FILE_FORMAT</string>
			<key>Title</key>
			<string>RECORDINGS_FILE_FORMAT</string>
			<key>Titles</key>
			<array>
				<string>Apple CoreAudio</string>
				<string>Microsoft WAV</string>
				<string>AIFF</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>caf</string>
				<string>wav</string>
				<string>aiff</string>
			</array>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>CLOUD_STORAGE_FOOTER</string>
			<key>Title</key>
			<string>CLOUD_STORAGE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>DropBox</string>
			<key>Title</key>
			<string>Dropbox</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>CLOUD_STORAGE_ENABLE</string>
			<key>Title</key>
			<string>CLOUD_STORAGE_ENABLE</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>INPUT_VIEW_FOOTER</string>
			<key>Title</key>
			<string>INPUT_VIEW</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>20.0</real>
			<key>Key</key>
			<string>INPUT_VIEW_UPDATE_RATE</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>INPUT_VIEW_UPDATE_RATE</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>0.0</real>
			<key>Key</key>
			<string>INPUT_VIEW_XMIN</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>INPUT_VIEW_XMIN</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>1.0</real>
			<key>Key</key>
			<string>INPUT_VIEW_XMAX</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>INPUT_VIEW_XMAX</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>DETECTIONS_VIEW_FOOTER</string>
			<key>Title</key>
			<string>DETECTIONS_VIEW</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutoCorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>4.0</real>
			<key>Key</key>
			<string>DETECTIONS_VIEW_UPDATE_RATE</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>DETECTIONS_VIEW_UPDATE_RATE</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutoCorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>30</real>
			<key>Key</key>
			<string>DETECTIONS_VIEW_DURATION</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>DETECTIONS_VIEW_DURATION</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>LEVEL_DETECTOR_FOOTER</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutoCorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>0.33329999999999999</real>
			<key>Key</key>
			<string>LEVEL_DETECTOR_LEVEL</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR_LEVEL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutoCorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>33.30303030</real>
			<key>Key</key>
			<string>LEVEL_DETECTOR_SCALING</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR_SCALING</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>LEVEL_DETECTOR_USE_LOW_PASS_FILTER</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR_USE_LOW_PASS_FILTER</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>taps</string>
			<key>Key</key>
			<string>LEVEL_DETECTOR_LOW_PASS_FILTER_FILENAME</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR_LOW_PASS_FILTER_FILENAME</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>4.0</real>
			<key>Key</key>
			<string>LEVEL_DETECTOR_COUNTS_DECAY_DURATION</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>LEVEL_DETECTOR_COUNTS_DECAY_DURATION</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>BIT_DETECTOR_FOOTER</string>
			<key>Title</key>
			<string>BIT_DETECTOR</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>0.33329999999999999</real>
			<key>Key</key>
			<string>BIT_DETECTOR_MAX_LOW_LEVEL</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>BIT_DETECTOR_MAX_LOW_LEVEL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>0.66659999999999997</real>
			<key>Key</key>
			<string>BIT_DETECTOR_MIN_HIGH_LEVEL</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>BIT_DETECTOR_MIN_HIGH_LEVEL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>37.0</real>
			<key>Key</key>
			<string>BIT_DETECTOR_SAMPLES_PER_PULSE</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>BIT_DETECTOR_SAMPLES_PER_PULSE</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>BIT_STREAM_FRAME_DETECTOR_FOOTER</string>
			<key>Title</key>
			<string>BIT_STREAM_FRAME_DETECTOR</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>10101011</string>
			<key>Key</key>
			<string>BIT_STREAM_FRAME_DETECTOR_PREFIX</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>BIT_STREAM_FRAME_DETECTOR_PREFIX</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>101010101</string>
			<key>Key</key>
			<string>BIT_STREAM_FRAME_DETECTOR_SUFFIX</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>BIT_STREAM_FRAME_DETECTOR_SUFFIX</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<integer>30</integer>
			<key>Key</key>
			<string>BIT_STREAM_FRAME_DETECTOR_CONTENT_SIZE</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>BIT_STREAM_FRAME_DETECTOR_CONTENT_SIZE</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>MIC_SWITCH_DETECTOR_FOOTER</string>
			<key>Title</key>
			<string>MIC_SWITCH_DETECTOR</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>0.001</real>
			<key>Key</key>
			<string>MIC_SWITCH_DETECTOR_THRESHOLD</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>MIC_SWITCH_DETECTOR_THRESHOLD</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>Key</key>
			<string>MIC_SWITCH_DETECTOR_DURATION</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>MIC_SWITCH_DETECTOR_DURATION</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>Settings</string>
</dict>
</plist>
